# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Database
*.db
*.db-journal

# ChromaDB
chroma_db/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
frontend/dist/

# Whisper models
*.pt
*.bin

venv/
